<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Proveedores</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="static/css/index3.css" th:href="@{/css/index3.css}">
</head>
<body>
<ul th:replace="headeradmin :: navigation"></ul>
<br>
<div>
	<h1 class="text-center" style="font-family: cursive;">Rustica Santa Anita<h1>				    	
</div>
<h3 style="font-family: cursive;"><center > <strong><u>Proveedores</u></strong></center></h3>
<div class="container mt-4">
<a class="nav-link float-right" title="Exportar PDF" target="_blank" th:href="@{/listadoproveedor/(format=pdf)}">
<img  class="img-responsive center-box"  src="static/img/pdf.png" th:src="@{/img/pdf.png}" alt="..." height="auto" >
Importe su pdf
</a>
<a th:href="@{/man_proveedor}" class="btn btn-success btn-sm">Nuevo Proveedor</a>	
<table class="table table-dark table-striped table-bordered border-danger">
  <thead align="center">
    <tr>
      	<td scope="col"><strong>Detalle Proveedor</strong></td>
      	<td scope="col"><strong>Proveedor</strong></td>
      	<td scope="col"><strong>Telefono</strong></td>
      	<td scope="col"><strong>Acciones</strong></td>
    </tr>
  </thead>
  	<tbody align="center">
    	<tr th:each="per:${proveedores}">
    			<th scope="row">
    				<a class="btn-outline-success"
    				th:href="@{/detalle_proveedor/}+${per.idprov}"
    				th:text="Detalle">
    				</a>
    			</th>
    			<td th:text="${per.idprov}" hidden=""></td>
				<td th:text="${per.nomprove}"></td>
				<td th:text="${per.nombrecontac}" hidden=""></td>
				<td th:text="'+01 '+${per.telefono}"></td>
				<td th:text="${per.direccion}" hidden=""></td>
				<td th:text="${per.codpostal}" hidden=""></td>
				<td>					
					<a th:href="@{/proveedor_editar/}+${per.idprov}" class="btn btn-warning btn-sm">Editar</a>					
					<a th:href="@{/proveedor_eliminar/}+${per.idprov}" class="btn btn-danger btn-sm"
					title="Eliminar Proveedor"
							onclick="return confirm('Esta seguro de eliminar este proveedor?');"
							>Eliminar</a>				
				</td>				
		</tr>	
  	</tbody>
	</table>
		<div class="alert alert-success alert-dismissable" th:if="${success != null}">
		<strong><label th:text="${success}"></label></strong>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	<a th:href="@{/admin}" class="btn btn-info btn-sm">REGRESAR</a>
</div>
</body>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Footer -->
<ul th:replace="footer :: footer"></ul>
<!-- Footer -->

</html>